main {
  margin-top: 50px;
  margin-bottom: 50px;
  img { 
    max-width: 500px; 
    max-height: 500px;
    border-radius: 5%;
  }
  p {
    font-size: 2em;
    .contacto {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: aliceblue;
      }
    }
  }
  h1 {
		@include fuente-titulos(3em, center, Arial, aliceblue);
  	margin-bottom: 50px;
  }
  form {
    padding: 50px;
  }
}